div {
    border: 0.5rem solid black;
    margin: 2rem;
    padding: 1rem;
    background-color: blanchedalmond;
    display: inline-block;
    cursor: pointer;
}


.scale:hover {
    /* transform: scaleX(1.5); */
    /* transform: scaleY(1.5); */
    transform: scale(1.5);
}

.translate:hover {
    /* transform: translate(2rem, 2rem); */
    /* transform: translateX(2rem); */
    transform: translateY(2rem);
}

.rotate:hover {
    /* transform: rotate(90deg); */
    /* transform: rotateX(30deg); */
    /* transform: rotateY(30deg); */
    transform: rotateZ(30deg);
}

.skew:hover {
    /* transform: skew(10deg, 0deg); */
    /* transform: skewZ(30deg); */
    transform: skewY(30deg);
}